{% extends 'base.html' %}
{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque qui perferendis eos numquam provident ipsa
            libero
            ipsam illum, facere earum nihil voluptatum nemo hic alias maxime quas reiciendis cum magni id delectus ipsum
            blanditiis laboriosam voluptas. Natus fugit omnis mollitia repellendus neque, officiis provident beatae
            repudiandae,
            accusantium corrupti, eius quam ullam non odio veniam officia temporibus consequatur perferendis doloribus.
            Consequuntur numquam iusto inventore doloremque doloribus nemo vel, qui adipisci sed voluptates, rerum
            obcaecati,
            deleniti sequi. Consequuntur iure nisi, modi dolor numquam voluptatibus, in ipsa enim, quod sint officiis.
            Repellendus reprehenderit voluptate maxime doloribus quam. Nostrum assumenda consequatur accusamus
            asperiores illum.
        </p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">Sign in</a>
            <a class="btn btn-dark" href="/signup/">Sign up</a>

        </div>
    </section>
</main>
{% endblock %}